.admin-layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-bottom: 20px; */
  height: 100vh;
  width: 210px;
  background: #0f172a;
  color: #c0c3cb;
}

.admin-layout-btn-container {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.admin-layout-btn-container a {
  display: flex;
  align-items: center;
  margin: 5px 10px;
  border-radius: 8px;
  /* background: #0f172a; */

  transition: all 0.2s ease;
}

.admin-layout-btn-container a:hover {
  /* background: #28324976; */
  background: #ffffff27;
}

.admin-layout-btn-container a svg {
  margin: 10px 12px;
}

.admin-layout-btn-container a p {
  margin: 0;
}

.active {
  background: #ffffff27;
}
