.checkout-container {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}
.checkout-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
  width: 100%;
  max-width: 700px;
  margin-inline: 16px;

  background: var(--bg-main);
}
.checkout-item {
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;

  /* padding: 10px; */
  margin: 0;
}

.checkout-img img {
  width: 70px;
  height: 70px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  overflow: hidden;
  /* border-radius: var(--radius); */
}

.checkout-img {
  height: 70px;
}

.checkout-btn {
}

.checkout-summary {
  display: flex;
  align-items: center;
  background: white;
  border-radius: var(--radius);
  height: 70px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: var(--shadow);
}

.checkout-summary p {
  margin-left: 20px;
}
