/* .cart-container {
  display: flex;
  justify-content: center;

  margin-top: 40px;
}
.cart-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
  width: 400px;
  margin: 0;

  background: var(--bg-main);
}
.cart-item {
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;

  padding: 10px;
  margin: 0;
}

.cart-img img {
  width: 70px;
  height: 70px;
  aspect-ratio: 1 / 1;
  object-fit: cover;

  border-radius: var(--radius);
}

.cart-img {
  height: 70px;
}

.cart-btn {
}

.cart-summary {
  position: sticky;
  bottom: 0;
  background: var(--bg-main);
  width: 100%;
} */
