.navbar {
  width: 100%;
  background: white;
  border-bottom: 1px solid #eee;
}

.nav-container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 15px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* background-color: #f5f5f5; */
  background: var(--bg-secondary);
  cursor: pointer;
  margin-left: 30px;
  flex-shrink: 0;
  border: none;
}

.cart:hover {
  background: lightgray;
}

.cart-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -4px;
  right: -4px;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(52, 52, 52);
  line-height: 1;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-right: 20px;
}

.search-bar {
  background: var(--bg-secondary);
  border: none;
  border-radius: 20px;
  padding-inline: 10px;
  font-size: medium;
  width: 100%;
  flex-shrink: 1;
  color: var(--text-secondary);
}

.search-bar:focus {
  /* border: none; */
  outline: none;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.cart-dropdown {
  position: absolute;
  top: 70px;
  right: 20px;

  width: 380px;
  max-height: 500px;

  background: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow);

  z-index: 1000;

  animation: dropIn 0.2s ease-out;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--bg-main);
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
