.admin-page-container {
  display: flex;
  height: 100vh;
  margin: 0;
  /* overflow: hidden; */
}

.admin-container {
  width: calc(100vw - 210px);
}

.admin-order-list {
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 20px;
  background: white;
  width: 100%;
}

.admin-order-row-top {
  height: 50px;
}

.admin-order-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding-inline: 15px 12px;
  gap: 15px;
  height: 70px;
}

.admin-order-row > div {
  flex: 1;
}

.admin-order-row-header {
  border-top: 1px solid lightgray;
  border-radius: 7px 7px 0 0;
  background-color: var(--bg-main);
  font-weight: 600;
}

.admin-order-row-footer {
  height: 50px;
}

.admin-order-row > div > p {
  margin: 5px;
}

.admin-order-checkbox {
  scale: 1.2;
}

.order-row:hover {
  cursor: pointer;
  opacity: 0.7;
}

.admin-order-list-container {
  display: flex;
  flex-direction: row;
}

.order-side-info {
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 20px 20px 20px 0;
  background: white;
  min-width: 400px;
}
