.admin-page-container {
  display: flex;
  height: 100vh;
  margin: 0;
  /* overflow: hidden; */
}

.admin-container {
  width: calc(100vw - 210px);
}

.admin-order-list {
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 20px;
  background: white;
  width: 100%;
  height: fit-content;
}

.admin-order-row-top {
  height: 50px;
}

.admin-order-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding-inline: 15px 12px;
  gap: 15px;
  height: 70px;
}

.admin-order-row > div {
  flex: 1;
}

.admin-order-row-header {
  border-top: 1px solid lightgray;
  border-radius: 7px 7px 0 0;
  background-color: var(--bg-main);
  font-weight: 600;
  height: 50px;
}

.admin-order-row-footer {
  height: 60px;
  margin-inline: 20px;
}

.admin-order-row > div > p {
  margin: 5px;
}

.admin-order-checkbox {
  scale: 1.2;
}

.order-row:hover {
  cursor: pointer;
  background: var(--bg-main);
}

.admin-order-list-container {
  display: flex;
  flex-direction: row;
}

.order-side-info {
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 20px 20px 20px 0;
  background: white;
  min-width: 400px;
  height: fit-content;
}

.page-selector {
  gap: 5px;
}

:root {
  --page-selector-size: 31px;
}

.page-selector p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: var(--page-selector-size);
  height: var(--page-selector-size);
  /* border: 1px solid lightgray; */
  color: white;
  border-radius: 5px;
  background: var(--accent);
}

.page-selector button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: var(--page-selector-size);
  height: var(--page-selector-size);
  border: 1px solid lightgray;
  border-radius: 5px;
  background: transparent;
  transition: background 0.2s ease;
}

.page-selector button:hover {
  background: var(--bg-secondary);
  cursor: pointer;
}

.admin-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid lightgray;
  width: 20%;
  min-width: 220px;
  border-radius: 8px;
  padding: 6px;
  font-size: 14px;
  font-family: inherit;
}

.admin-search-bar label {
  display: flex;
}

.admin-search-bar svg {
  margin-right: 5px;
  color: #888;
}

.admin-search-bar input {
  border: none;
  outline: none;
  font-size: 15px;
  font-family: inherit;
  height: 100%;
  width: 100%;
}

.admin-search-bar input:focus {
  /* border: 1px solid var(--accent); */
  outline: none;
}
